/*------------------*/

/* Global for row extension */
/*.simple-table-row-extension {
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
}*/


/* Global Class for row */
.simple-table-row {
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
}

.simple-table-row:hover .simple-table-cell {
    -fx-background-color: #E6E6E6;
    -fx-text-fill: white;
}

.simple-table-row:focused .simple-table-cell {
    -fx-background-color: #AFAFAE;
}

