.column-template{
    -fx-border-color: #15315C;
    -fx-border-width: 0 1 0 0;
    -fx-border-style: dashed;
}
.column-template-lefter{
    -fx-border-color: #15315C;
    -fx-border-width: 0 1 0 1;
    -fx-border-style: dashed;
    -fx-font-weight: bold;
}

.row-template-header{
    -fx-border-color: #15315C;
    -fx-border-width: 1 0 1 0;
    -fx-border-style: dashed;
    -fx-font-weight: bold;
}

.row-template{
    -fx-border-color: #15315C;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: dashed;
}

.row-template-text{
    -fx-text-fill: #828282;
}


.col-filler{
    -fx-border-color: blue;
}


.row-filler{
    -fx-border-color: white;
    -fx-border-style: dashed;
    -fx-background-color: #C0C0C0;
}
.row-filler-text{
    -fx-text-fill: black;
}

.fuck{
    -fx-border-color: blue;
}