.credit-row-label{
    -fx-pref-width: 100px;
    -fx-font-size: 15px;
}

.credit-row-text{
    -fx-text-alignment: center;
    -fx-pref-width: 80px;
    -fx-font-size: 12px;
}

.credit-row{
    -fx-border-color: #F591AB;
}

.credit-row-delete{
    -fx-border-color: white;
    -fx-background-color: #EB5463;
}

