.credit-row-label{
    -fx-pref-width: 100px;
    -fx-font-size: 11px;
}

.credit-row-text{
    -fx-text-alignment: center;
    -fx-pref-width: 80px;
    -fx-font-size: 12px;
}

.credit-row{
    -fx-border-color: #F591AB;
}

.credit-row-delete{
    /* History*/
    -fx-border-color: white;
    -fx-background-color: #4FC0E8;
}

